name: Build Microservices

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build All Spring Boot Services
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        project:
          - gestion_commercial
          - gestion_stock
          - gestion_vente
          - eureka_server

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build ${{ matrix.project }}
        working-directory: ./${{ matrix.project }}
        run: mvn -B clean install
